

<h3>Profile Information</h3>
<h4 *ngIf=(userinfo.msg)>{{userinfo.msg}}</h4>

<table *ngIf="(userinfo.name != null)">
	<tr>
		<th>Index</th>
		<th>Detail</th>
	</tr>
	<tr>
		<th>Name</th>
		<th>{{userinfo.name}}</th>
	</tr>
	<tr>
		<th>Mobile Number</th>
		<th>{{userinfo.mobile}}</th>
	</tr>
	<tr>
		<th>Email</th>
		<th>{{userinfo.email}}</th>
	</tr>
</table>
<p *ngIf="(userinfo.name != null)"> Threads: </p>
<div *ngFor="let thread of userinfo.thread">
	<a href="/thread/{{thread._id}}">{{thread.topic}}</a>
</div>

