<mat-card class="thread">
	<h3 class="head">New Thread</h3>
	<mat-card-content>
		<p *ngIf="(msg)">{{msg.msg}}</p>
		<p *ngIf="(msgError)">{{msgError.msg}}</p>
		<form (ngSubmit)="onSubmit()" [formGroup]="thread">
			<mat-form-field>
				<input matInput formControlName="topic" placeholder="Topic" type="text">
			</mat-form-field>
			<br>
			<mat-form-field>
				<input matInput formControlName="category" placeholder="Category" type="text">
			</mat-form-field>
			<br>
			<mat-form-field>
				<textarea formControlName="thread" placeholder="Thread"></textarea>
			</mat-form-field>
			<br>
			<mat-form-field>
				<button>Post</button>
			</mat-form-field>
		</form>
	</mat-card-content>
</mat-card>
