<div [ngClass]="{'is-active': !loggedIn, 'is-clipped': loggedIn}" class="modal is-clipped" >
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="card">
      <div class="card-content">
        <div class="content">
          Please Login to Continue!!!!
          <button (click)="login()" class="is-large" aria-label="close">Login</button>
        </div>
      </div>
    </div>
  </div>
  <button (click)="login()" class="modal-close is-large" aria-label="close"></button>
</div>
<mat-card class="thread-new-main">
	<h3 class="thread-new-head">New Thread</h3>
	<mat-card-content class="thread-new-create">
		<p *ngIf="(msg)">{{msg}}</p>
		<p *ngIf="(msgError)">{{msgError}}</p>
		<form (ngSubmit)="onSubmit()" [formGroup]="thread">
			<mat-form-field>
				<input matInput formControlName="topic" placeholder="Topic" type="text">
			</mat-form-field>
			<br>
			<mat-form-field>
				<input matInput formControlName="category" placeholder="Category" type="text">
			</mat-form-field>
			<br>
			<mat-form-field>
				<textarea formControlName="thread" placeholder="Thread"></textarea>
			</mat-form-field>
			<br>
			<mat-form-field>
				<button>Post</button>
			</mat-form-field>
		</form>
	</mat-card-content>
</mat-card>
