body {
	background-color : black;
}

.forum-head {
	color: white;
	text-shadow: 4px 4px 4px grey;
	text-align: center;
	font-size: 45px;
}

.toolbar {
	background-color: red;
}

button{
	background-color: lightgreen;
	color: black;
	border: round;
	text-shadow: 0 2px 2px grey; 
	font-size: 17px;
	text-align: center;
	flex: 1 1 auto;
}

button:hover {
	background-color: yellow;
	color: red;
	border-radius: 20px;
	transform: scale(1); 
}
