<mat-card class="update-profile" *ngIf="(loggedIn == true)">
	<h3 class="head"> Update Profile </h3>
	<p *ngIf="(msg)">{{msg}}</p>
	<mat-card-content>
		<div class="details">
			<form (ngSubmit)="onSubmit()" [formGroup]="user">
				<mat-form-field>
					<input matInput formControlName="name" placeholder="Name" type="text" name="name">
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput formControlName="username" placeholder="Username" type="text" name="username">
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput formControlName="mobile" placeholder="Mobile Number" type="text" name="mobile">
				</mat-form-field>
				<br>
				<mat-form-field>
					<button (onclick)="onSubmit()" >Submit</button>
				</mat-form-field>
			</form>
		</div>
	</mat-card-content>
</mat-card>
