
<mat-card class="profile" *ngIf="(loggedIn == true)">
	<h3>Profile Information</h3>
	<mat-card-content class="profile-detail">
		<table class="user-details">
			<tr>
				<th>Index</th>
				<th>Detail</th>
			</tr>
			<tr>
				<th>Name</th>
				<th>{{userinfo.name}}</th>
			</tr>
			<tr>
				<th>Mobile Number</th>
				<th>{{userinfo.mobile}}</th>
			</tr>
			<tr>
				<th>Email</th>
				<th>{{userinfo.email}}</th>
			</tr>
		</table>
		<p id="threads" *ngIf="(userinfo.name != null)"> Threads: </p>
		<div *ngFor="let thread of userinfo.thread">
			<a href="/thread/{{thread.id}}">{{thread.topic}}</a>
		</div>
		<p>------------------------------------------------------------------------------------</p>
		<a href="/profile/edit">Edit Profile</a>
	</mat-card-content>
</mat-card>

