<mat-card class="login">
	<h3 class="head">Log In</h3>
	<p *ngIf="(msg)"> {{msg.msg}}</p>
	<mat-card-content>
		<div class="details">
			<form (ngSubmit)="onSubmit()" [formGroup]="info">
				<mat-form-field>
					<input matInput formControlName="email" placeholder="Email" type="text">
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput formControlName="passwd" placeholder="Password" type="password">
				</mat-form-field>
				<br>
				<mat-form-field>
					<button>Login</button>
				</mat-form-field>
			</form>
		</div>
	</mat-card-content>
</mat-card>
